$color-primary: #f1cdb3;
$color-primary-light: #fddcc4;

$color-light-s: #fafafa;
$color-light-l: #f6f6f6;
$color-light-xl: #ffffff;

$color-dark-s: #cdcdcd;
$color-dark-m: #b2b2b2;
$color-dark-l: #545454;
$color-dark-xl: #4c4c4c;
$color-dark-2xl: #444444;
$color-dark-3xl: #292929;

$start-screen-gradient-background: url(/assets/img/start-screen/noise-lines-transparent.png)
radial-gradient(100% 215.42% at 0% 0%, #58483A 0%, #262425 100%),
#211F20;

$footer-gradient-background: url(/assets/img/start-screen/noise-lines-transparent.png),
radial-gradient(110,67% 538.64% at 5.73% 50%, #513D2F 0%, #1A1A1C 100%),
#211F20;

$card_hover: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);

@mixin h2 {
  font: {
    family: Georgia;
    weight: 400;
    size: 4.4rem;
  }
  line-height: 130%;
}

@mixin h3 {
  font: {
    family: Georgia;
    style: normal;
    weight: normal;
    size: 3.5rem;
  }
  line-height: 130%;
  letter-spacing: 0.21rem;
}

@mixin h4 {
  font: {
    family: Georgia;
    style: normal;
    weight: normal;
    size: 2rem;
  }
  line-height: 115%;
  letter-spacing: 0.12rem;
}

@mixin h5 {
  font: {
    family: Georgia;
    style: normal;
    weight: normal;
    size: 1.5rem;
  }
  line-height: 110%;
  letter-spacing: 0.09rem;
}

@mixin paragraph-l {
  font: {
    family: Arial;
    style: normal;
    weight: normal;
    size: 1.5rem;
  }
  line-height: 160%;
}

@mixin paragraph-s {
  font: {
    family: Arial;
    style: italic;
    weight: normal;
    size: 1.2rem;
  }
  line-height: 150%;
}

@mixin logo_title {
  font: {
    family: Georgia;
    style: normal;
    weight: normal;
    size: 3.2rem;
  }
  line-height: 110%;
  letter-spacing: 0.192rem;
}

@mixin logo_subtitle {
  font: {
    family: Arial;
    style: normal;
    weight: normal;
    size: 1.3rem;
  }
  line-height: 110%;
  letter-spacing: 0.13rem;
}

@mixin pagination_button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 5.2rem;
  height: 5.2rem;
  box-shadow: inset 0 0 0 0.3rem $color-primary;
  border-radius: 100%;
  transition-duration: 0.5s;
  padding: 1.9rem;
  cursor: pointer;
  background: none;
  border: none;
  outline: none;

  &:hover {
    box-shadow: none;
    background-color: $color-primary-light;
  }
}
/*
@mixin pagination_button__disabled {
    @include pagination_button();

    box-shadow: inset 0 0 0 0.3rem $color-dark-s;
}
*/

@mixin button() {
  padding: 1.5rem 4.5rem;
  font-size: 1.7rem;
  border-radius: 10rem;
  line-height: 130%;
  letter-spacing: 0.158rem;
  cursor: pointer;
  outline: none;
  border: none;
  transition-duration: 0.5s;
}

@mixin button_primary() {
  background-color: $color-primary;

  &:hover {
    background-color: $color-primary-light;
  }

  @include button();
}

@mixin button_secondary() {
  background-color: transparent;
  box-shadow: inset 0 0 0 2px $color-primary;

  &:hover {
    box-shadow: none;
    background-color: $color-primary-light;
  }

  @include button();
}

.pets-header {
    display: flex;
    align-items: center;
    width: 100vw;
    max-width: 100%;
    position: sticky;
    min-height: 12rem;
    background-color: $color-light-xl;
    z-index: 2;
  }

  .nav {
    width: 44.3rem;
    display: flex;
  }

.nav-list {
  width: 100%;
  display: flex;
  justify-content: space-between;
  list-style-type: none;

  &__item {
    display: flex;
    align-items: center;
  }

  &__link {
    color: $color-light-xl;
    font-family: Arial;
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 160%;
    text-decoration: none;

      &_active {
        color: #545454;
      }

      &_disabled {
        color: $color-dark-l;
        border-bottom: solid 0.3rem transparent;
      }
    }
}

.main {
    &__wrapper {
        padding-top: 8rem;
        padding-bottom: 10rem;
        flex-direction: column;
    }
    &-pets__title {
        color: $color-dark-l;
        text-align: center;
        @include h3();
        span {
            display: block;
        }
    }
    &-pets-cards {
        margin-top: 6rem;
        display: flex;
        flex-wrap: wrap;
        column-gap: 4rem;
        row-gap: 3rem;
    }
    &-paginations {
        display: flex;
        margin-top: 6rem;
        justify-content: center;

        &__button {
            margin: 0 1rem;
            @include pagination_button();
            @include h4();

            &_active {
                box-shadow: none;
                background-color: $color-primary;
                cursor: auto

                &:hover {
                    background-color: $color-primary;
                }
            }
            &_disabled {
                box-shadow: inset 0 0 0 0.3rem $color-dark-s;

                &:hover {
                    box-shadow: inset 0 0 0 0.3rem $color-dark-s;
                    cursor: auto;
                    background-color: transparent;
                }
            }
        }
    }
}


.pets-card {
      display: flex;
      flex-direction: column;
      border-radius: 0.9rem;
      background-color: $color-light-s;

      &:hover {
        box-shadow: $card_hover;
      }

      &__image {
        width: 100%;
      }

      &__content {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-bottom: 3rem;
      }

      &__title {
        margin: 3rem 0;
        text-align: center;
        @include h4();
      }

      &__button {
        @include button_secondary()
      }
    }

  .logo {
    display: flex;
    flex-direction: column;

    &__title {
      color: $color-dark-l;
      @include logo_title();
    }

    &__subtitle {
      margin-top: 1rem;
      text-align: center;
      color: $color-dark-3xl;
      @include logo_subtitle();
    }
  }

  .wrapper a {
    text-decoration: none;
  }

  .pets-header {
    padding-left: 2rem;
    padding-right: 2rem;

      top:0;
  }

@media screen and (max-width: 1279px) {
  .main-pets-cards {
    justify-content: center;
  }
  .pets-card:nth-child(7) {
    display: none;
  }
}

@media screen and (max-width: 767px) {
  .nav {
    display: none;
  }
}