html {
    box-sizing: border-box;
    background-color: white;
}

*, 
*::before, 
*::after {
    box-sizing: inherit;
}

body {
    margin: 0 auto;
    font-family: "Roboto", sans-serif;
    color: white;
}

.visually-hidden {
    visibility: hidden;
    position: absolute;
}

.width-wrapper {
    width: 1600px;
    margin: 0 auto;
}

button:hover {
    background-color: #009CC2;
    cursor: pointer
}

/* first screen */
/* ----------------------------------------------------------------- */

h2 {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 64px;
    line-height: 75px;
    text-align: center;
    letter-spacing: 4.5px;
    text-transform: uppercase;

    color: #FFFFFF;

    padding-left: 3px;
    margin-bottom: 20px;
}

#first-screen {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;   
    height: 744px;
    background: url(assets/images/bg-image-wrapper.png) no-repeat center;
    background-size: auto 100%;
}

#first-screen > p {
    font-size: 18px;
    font-weight: 400;
}

ul {
    padding-top: 25px;
    display: flex;
    align-items: center;
    font-weight: 400;
    align-items: center;
    justify-content: space-between;
    width: 584px;
}

header {
    display: flex;
    padding-top: 0;
    margin-right: 13px;
    flex-direction: row;
    width: 584px;
    height: 95px;
}

Li {
    padding-bottom: 2px;
    border-bottom: 1px solid transparent;
}

li > a {
    text-decoration: none;
    font-size: 14px;
    font-weight: 400;
    color: #FFFFFF;
}
li > img {
    padding: 0 15px;
}
.center {
    display: flex;
    margin: 0 15%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 47px;
}

.center > p {
    width: 500px;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 140%;
    margin-bottom: 30px;
    text-align: center;

}

.socials {
    display: flex;
    justify-content: space-between;
    width: 170px;
    padding-bottom: 90px;
}
.socials > img:hover {
    opacity: 0.5;
    cursor: pointer
}

button {
    padding: 15px 44px;
    font-weight: 700;
    font-size: 13px;
    border: none;
    color: white;
    background-color: #00AFDB;
    letter-spacing: 0.03rem;
}

.active,
li:hover {
    border-bottom: 1px solid white;
}


/* second and fourth screens */
/* ----------------------------------------------------------------- */

#second-screen,
#fourth-screen {
    background-color: white;
    color: black;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 1063px;
    height: 842px;
    margin: 0 auto;
}

strong {
    font-weight: bold;
}

.section-side > p {
    width: 407px;
    height: 80px;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 145%;
/* or 20px */

    color: #4E4E4E;
    margin-bottom: 30px;
}

.section-side,
#second-screen > img,
#fourth-screen > img {
    margin-bottom: 20px;
}

h3 {
    width: 377px;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    display: flex;
    align-items: flex-end;
    letter-spacing: 1px;
    text-transform: uppercase;
    
    color: #373737;  
    margin-bottom: 20px;
}


/* third screen */
/* ----------------------------------------------------------------- */

#third-screen {
    height: 504px;
    background-color: #F5F6F7;
    color: #4E4E4E;
}

#abs {
    position: relative;
    padding-left: 432px;
    left: 50%;
    top: 82px;
    font-size: 18px;
}

#abs > img {
    padding: 0 15px;
}

#abs > img:hover {
    opacity: 0.5;
}

#abs > span {
    padding: 0 4px;
}

#long-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 102px;
    padding-bottom: 140px;
    padding-left: 200px;
}

#gallery {
    display: flex;
    flex-direction: row;
    overflow: hidden;
    height: 244px;
}

#gallery > img {
    height: 244px;
    margin: 0 15px;
}

h4 {
    color: #373737;

    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 2.4px;
    margin-bottom: 10px;
 }

#user-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 500px;
    padding-right: 54px;
}

#user-card > p {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 145%;
    /* or 20px */
    text-align: center;
    width: 300px
}

#userpic {
    margin-bottom: 20px;
}


/* fourth screen */
/* ----------------------------------------------------------------- */

#fourth-screen {
    flex-direction: row-reverse;
}
#fourth-screen > .section-side {
    margin-right: 110px;
}

#fourth-screen > .section-side > p {
    height: 55px;
    margin-bottom: 33px;
}

/* fifth screen */
/* ----------------------------------------------------------------- */

#fifth-screen {
    height: 524px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;   
    background: url(assets/images/pexels-christina-morillo-1181675\ 1.png) no-repeat center;
    background-size: auto 100%;
    padding-bottom: 20px;
}

#fifth-screen > h3 {
    color: white;
    width: auto;
    margin-bottom: 30px;
}

form > button {
    height: 46px;
    width: 66px;
    padding: 0;
    margin-left: -5px;
    padding-top: 2px;
}

#form > img {
    padding: 16px 25px 17px 25px;
}

input {
    width: 342px;
    height: 46px;
    font-size: 14px;
    line-height: 140%;
    padding-left: 23px
}

input::placeholder {
    color: #818181;
    opacity: 0.5;
}


/* sixth screen */
/* ----------------------------------------------------------------- */

#sixth-screen {
    height: 464px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;   
    background: #F5F6F7;
    padding-bottom: 59px;
}

#sixth-screen > p {
    color: #4E4E4E;
    width: 480px;
    font-size: 14px;
    font-weight: 400;
    line-height: 140%;
    text-align: center;
    margin-bottom: 30px;
}

#sixth-screen > h3 {
    width: auto;
}

#sixth-screen > button {
    margin: 0;
}

#buttons {
    display: flex;
    flex-direction: row;
    margin: 0;
    width: 402px;
    justify-content: space-between;
}
.btn-store {
    display: flex;
    width: 186px;
    height: 46px;
    flex-direction: row;
    justify-content: space-between;
    padding: 0;
}

button > div {
    width: 127px;
    padding: 16px 15px;
}

button > img {
    padding: 13px 21px;
    background-color: #009CC2;
}

#btn-play > div {
    width: 127px;
    padding: 16px 14px;
}

#btn-play > img {
    padding: 11px 19px 11px 19px;
    background-color: #009CC2;
}



/* footer */
/* ----------------------------------------------------------------- */

footer {
    background-color: black;
    padding-top: 60px;
    padding-bottom: 80px;
    display: flex;
    align-items: center;
    height: 185px;

}
#footer_wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 1280px;
    margin: auto;
}

#footer_wrapper > ul {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;    
    width: 236px;
    font-size: 14px;
    font-weight: 400;
    padding: 0;
    padding-top: 2px;
}

#footer_wrapper > ul > li:not(:first-child)::before {
    content: '';
    display: inline-block;
    width: 1px;
    height: 8px;
    background: #4E4E4E;
    margin-right: 20px;
}

#footer_wrapper > ul > li {
    display: block;
}


#author {
    font-size: 14px;
    line-height: 140%;
    text-align: center;
    padding-left: 66px;
    color: #818181;
}